pymongo==4.10.1
streamlit==1.40.2
openai
numpy
pymongo
fastapi[standard]
dnspython
gradio
python-dotenv
langchain
langchain-community
langchain_openai
pypdf
rank_bm25
sentence-transformers
tokenizers
sentencepiece
langchain-huggingface
faiss-cpu
